body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.gambar {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.galeri {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.galeri img {
    width: 30%;
    border-radius: 10px;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #023e8a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #90e0ef;
    text-decoration: none;
}
